@import '../../styles/colors.scss';

.image {
  position: relative;
  margin: 0 auto;
  width: 100%;

  picture {
    img {
      width: 100%;
      height: auto;

      &::selection {
        background-color: $secondary-accent;
        color: $secondary-accent;
      }
    }
  }
}