@import "../../styles/colors.scss";

.paragraphLink {
  color: inherit;
  :visited {
    color: inherit;
  }
  :active {
    color: inherit;
  }
}

.ulist {
  ::marker {
    list-style-type: none;
  }
}


