@import "../../styles/colors.scss";

.paragraphLink {
  color: inherit;

  :visited {
    color: inherit;
  }
  :active {
    color: inherit;
  }
}

.ulist {
  margin-bottom: 32px;

  li {
    padding: 12px;

    &::marker {
      content: '⚡'
    }
  }
}


